#hiddenimage{
  visibility: hidden;
  height: 80%;
}
.unselectable{
  -select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.divide{
  height:40px;
}
.ion-img{
  height: 200px;
}
.tocenter{
  margin: 0 auto;
}
