<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
           <ion-back-button routerLink=""></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
    <ion-toolbar color="dark">
        <ion-searchbar [(ngModel)]="searchKey"
                       (ngModelChange)="updateList()"></ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-virtual-scroll [items]="items">
      <ion-item-divider *virtualHeader="let header"  >
          {{ header }}
      </ion-item-divider>
    <ion-item *virtualItem="let item ; let i = index;" >
     <ion-card class="tocenter">
      <ion-card-header>
          <a [routerLink]="'/itemview/'+item.id" routerDirection="forward" (click)="getItem(i)">
            <ion-card-title>{{item.label}}  </ion-card-title>
          </a>
      </ion-card-header>
        <ion-img class="ion-img"[src]=item.image></ion-img>
      <ion-card-content class="unselectable">{{item.text}}</ion-card-content>
      </ion-card>

    </ion-item>
  </ion-virtual-scroll>

</ion-content>
